* {
	margin: 0px;
	padding: 0px;
}

body {
 font-family: helvetica;
 font-weight: lighter;
 font-size: 10pt;
 }

 h1 {
 	color: darkblue;
 	font-size: 10pt; 
 	font-weight: medium;
 }

 h2 {
 	color: darkblue;
 	font-size: 13pt; 
 	font-weight: lighter;
 }
h3 {
	color: red
}


#snapchat {
  background: wheat;
}

.align{ 
	float:left;
	margin: 85px;
}

.box {
  height: 200px;
  width: 100vw;
  display: block;
  margin: 0px auto;
  text-align: left;
  padding-top: 30px;
  font-family: helvetica;
}

img {
	width:255px;
	height:auto;
}

.popup{
	display: none;
}

div.popup-holder:hover .popup {
	display: block;
}

#container{
	width: 1400px;
	overflow: auto;

	margin: auto;
}

