* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
 font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
 }

 h1 {
 	color: goldenrod;
 }

 h2 {
 	color:wheat;
 }
h3 {
	color: red
}

.align{ 
	float:left;
	margin: 85px;
}

img {
	width:255px;
	height:auto;
}

.popup{
	display: none;
}

div.popup-holder:hover .popup {
	display: block;
}

#container{
	width: 1400px;
	overflow: auto;

	margin: auto;
}

