body {
	background-color: white;
 font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
 }

 h1 {
 	color: red
 }

 h2 {
 	color:yellowgreen;
 }
h3 {
	color: red
}

.food{ 
	{border-style: solid orange;
size: : 20px;
 }